@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Regular.ttf") format('truetype');
};

@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Lobster";
    src: url("../fonts/Lobster-Regular.ttf") format('truetype');
}